.category__container{
    position:relative;
    margin-top: -10%; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1600px;
    row-gap: 50px;
    place-items:center;
}

.category{
    height: 250px;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    place-items: center;
}

.category a{
    text-decoration: none;
    color: #000;
    place-items: center;
}


.category p {
    text-align: left;
    margin-left: 25px;
}

.category h3
{
    text-align: center;
}

.category p{
    font-size: 14px;
    font-weight: bold;
    color: rgb(9,132, 209);
}


.image{
    width: 200px;
    height: 200px; 
    object-fit: contain;
    place-items: center;
}